.profile_box.show.edit{
	width: 100%;
	height: auto;
	background-color: #EEEEEE;
	padding: 10px;
}
.user_show.show{
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
}


.profile-image.show {
	width: 250px;
	height:250px;
	border-radius: 150px;
	border: 1px solid;
	display: inline-block;
	float:left;
	margin-right: 50px;
}
.profile_text_box{
	width: 650px;
	height: auto;
}

.nickname-box{
	width: auto;
	height: 100%;
	border-radius: 2px;
}
.self_introduction_box{
	width: 650px;
	height: 250px;
	border: solid 1px;
	margin-top: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: white;
	padding: 10px;
}

.self_introductio{
	height: 100%;
	width: 100%;
}
.self_introduction_form{
	top: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 5px;
}
// .profile{
// 	width: 500px;
// 	height: 150px;
// }
.nickname{
	font-size: 25px;
}
.chat-button{
	border: 1px solid;
	width: 200px;
	height: auto;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}
.chat-link{
	font-size: 25px;
	color: black;
}

.chat-button:hover{
	border: 1px solid;
	width: 200px;
	height: auto;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	background-color: gray;
	color: white;
}


.rending_space_box{
	text-align: center;
	width: 100%;
	height: auto;
	color: white;
	background-color: silver;
	border-radius: 5px;
}

.nickname-box{
	width: auto;
	height: 100%;
	border-radius: 2px;
}


// スキッパー
@media (min-width: 992px){
.container{
    width: 100%;
    float: left;
    height: 350px;
    padding: 10px 5 10px 5;
    
}
}
.skippr{
	width:100%;height:100%;position:relative;overflow:hidden
}
.skippr>div{
	position:absolute;width:100%;height:100%;background-size:cover;background-position:50% 62.5%
}.skippr>img{
	position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:100%;min-height:100%
}
.skippr-nav-container{
	position:absolute;left:50%;-webkit-transform:translate(-50%, 0);transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);bottom:25px;overflow:auto;z-index:999
}
.skippr-nav-element{
	cursor:pointer;float:left;background-color:rgba(255,255,255,0.5);-webkit-transition:all .25s linear;transition:all .25s linear
}
.skippr-nav-element-bubble{
	width:12px;height:12px;border-radius:50%;margin:0 4px
}
.skippr-nav-element-block{
	width:60px;height:10px
}
.skippr-nav-element:hover,.skippr-nav-element-active{
	background-color:#fff
}
.skippr-arrow{
	position:absolute;z-index:999;top:50%;-webkit-transform:translate(0%, -50%);-moz-transform:translate(0%, -50%);-ms-transform:translate(0%, -50%);transform:translate(0%, -50%);width:30px;height:30px;transform-origin:center center;-webkit-transform-origin:top left;cursor:pointer
}
.skippr-previous{
	left:2.5%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);border-top:2px solid;border-left:2px solid;color: white;
}
.skippr-next{
	right:3.5%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);border-bottom:2px solid ;border-right:2px solid;color: white;
}


.user_show{
	width: 350px;
	height: 400px;
	}
.user-space{
	width: 300px;
	height: 400px;
	float:left;

}
.space-name.show{
	background-color: #EEEEEE;
	width: 100%;
	border: 3px;
	border-radius: 5px;
}
.space-image.show{
	width: 100%;
	height: 90%;
	border-radius: 5px;
}
.container.user-show{
	width: 50%;
	height: 300px;
	margin-top: 30px;
}
.images.show{
	border-radius: 5px;
	width: 100%;
	height: 400px;
}











