<h1>アドミントップページだよ</h1>
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "logout"%>
<%= link_to "ユーザー一覧",admins_users_path%>
<%= link_to "スペース一覧",admins_spaces_path%>
<%= link_to "予約一覧",admins_reservations_path%>





